parameters:
    level: 3
    paths:
        - admin
        - includes
        - magick-tool-box.php
        - uninstall.php
    excludePaths:
        - admin/partials/function/b2/*
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: false
    reportMaybes: false
    reportStaticMethodSignatures: false
