/*圆角弧度*/
/*大体框架*/
.magick-content {
  max-width: 1200px;
}
.magick-single-census {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.magick-single-census > div {
  flex: 1;
}
.magick-single-census .magick-right {
  flex: 0 0 40%;
}
.magick-single-census .magick-right .bisection {
  display: flex;
  flex-wrap: wrap;
  margin: 26px 0px;
}
.magick-single-census .magick-right .bisection > div {
  flex: 1;
  padding: 10px 16px;
  margin: 20px 10px;
  border-radius: 6px;
  box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, 0.1), -8px -8px 20px 0 #fff;
}
.magick-single-census .magick-right .bisection > div span {
  font-size: 16px;
  font-weight: bold;
}
.magick-single-census .magick-right .bisection > div .census-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.magick-single-census .magick-right .bisection > div .census-child > p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
.magick-single-census .magick-right .bisection > div .census-child > p span {
  font-size: 26px;
  font-weight: bold;
}
.magick-single-census .magick-right .bisection > div .census-child span {
  font-size: 28px;
  width: 36px;
  height: 36px;
}
/**==============================商城*/
.magick_shop_box {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  /*两端居中对齐,仅包含子元素*/
  justify-content: space-evenly;
  /*垂直居中,仅包含子元素*/
  align-items: center;
  /*换行*/
  flex-wrap: wrap;
}
.magick_shop_box .content {
  flex: 0 0 240px;
}
.magick_shop_box .content .child-box {
  padding: 10px 20px;
  margin: 20px 4px;
  box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, 0.1), -8px -8px 20px 0 #fff;
}
.magick_shop_box .content .child-box > span {
  font-size: 16px;
  font-weight: bold;
}
.magick_shop_box .content .child-box .child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.magick_shop_box .content .child-box .child p span {
  font-size: 26px;
  font-weight: bold;
}
.magick_shop_box .content .child-box .child img {
  width: 36px;
  height: 36px;
}
.magick_shop_box .content .child-box .child > span {
  font-size: 28px;
  width: 36px;
  height: 36px;
}
.magick_shop_box img {
  width: 100%;
  height: 100%;
}
.magick_four-column {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  /*两端居中对齐,仅包含子元素*/
  justify-content: space-evenly;
  /*垂直居中,仅包含子元素*/
  align-items: center;
  /*换行*/
  flex-wrap: wrap;
}
.magick_four-column .content {
  flex: 0 0 600px;
}
.magick_four-column .content > div {
  width: 600px;
  height: 300px;
}
